PORT=3000
    NODE_ENV=
    OPENAI_API_KEY=
    EASYCHAT_SECRET=

    CORS_ORIGINS=
    TAVILY_API_KEY=

    EASYCHAT_URL=

    EASYCORE_HOST=
    EASYCORE_DB=
    EASYCORE_USERNAME=
    EASYCORE_PASSWORD=

    BIENES_HOST=
    BIENES_DB=
    BIENES_USERNAME=
    BIENES_PASSWORD=