fastapi==0.128.0
fastapi-class
uvicorn==0.40.0
pydantic==2.12.0
pydantic-settings==2.5.0
python-dotenv==1.0.1
openai==1.60.0
httpx==0.28.0
PyJWT==2.8.0
llama_index==0.14.13
tavily-python == 0.7.21
pymysql== 1.1.2